<h1>GIT IN IT!</h1>
<div class="col-8 col-offset-4">
	<%= partial(:_objectives) %>
	<%= partial(:_introduction) %>
	<%= partial(:_setup) %>
	<%= partial(:_tutorials) %>
	<%= partial(:_resources) %>
	<%= partial(:_contact) %>
<div>









